@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  font-weight: 400;
/*   background: url(background-img.jpg);*/
  background-position: center;
  background-size: cover;

}
.hr{
  margin-top: 1rem;

  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
/*............Outline Button Start..........*/
.btnn {
  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 3px;
  
}
.btn1{
  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 4px 15px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;

}
.success {
  color: #E67A41;
  text-decoration: none;
}
.success:hover {
  background-color: #E67A41;
  color: white;
  text-decoration: none;
  transition:  all 0.4s ease;
}
.input-type{
  border: 1px solid #E67A41;
}


.button {
  background-color: #E67A41; /* Green */
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.button1 {
  color: white;
}
.button1:hover{

  text-decoration: none;
  background-color: #c2571f;
  color: white;

  transition:  all 0.4s ease;
}


/*............Outline Button End..........*/

/*............PreLoader Start..........*/


/*..........Navbar Start.......*/
header{
  margin-top: -60px;
}
nav{
  margin-top: 70px;
}
nav .navbar-brand h1{
  font-size: 30px;
  color: #262524;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 900;
}
nav .navbar-toggler{
  color: #E67A41;
}
nav .navbar-toggler-icon {
 width: 90%;
 height: 50%;
  color: #E67A41;

}
nav .navbar-toggler-icon i{
  color: #E67A41;
}
nav ul {
  margin: 0px auto 0px;
}
nav ul li a{
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
  color: #000;
  

}
nav ul li a:hover{
  color: #E67A41;
  text-decoration: none;
   transition:  all 0.4s ease;
  }
nav ul #profile{
  position: relative;
  /* left: 10%; */
}
nav ul #profile a i{
  
}
nav ul #cart{
  position: relative;
  /* left: 10%; */
}


.container{
	margin: 0px auto 0px;
	text-align: center;
}
.upper-head{
    background-color: #E67A41;
    height: 30px;
    width: 100%;
}
.upper-head p{
    font-size: 12px;
    letter-spacing: 1.5px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
}


/* ======== FOOTER START ====== */
.footer-link ul li a:hover{
  /* color: #E67A41; */
  color:  black;
}
.social_icon{

  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.social_icon1{
  color: #E67A41;
}
.social_icon1:hover{
  text-decoration: none;
  background-color: #E67A41;
  color: white;
}
.copy-right p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #888;
}

/* ======== FOOTER END ====== */

.icon a:hover{

}
.user-cart {
  height: 30px;
  width: 30px;
	margin-left: 15px;
	margin-top: -20px;
	margin-right: 10px;
}
  /*====================================*/
/*====================================*/
/*====================================*/
/*====================================*/

@media screen and (max-width: 992px) {
.button{
  
}
.social-icon a {
  margin-top: 3px;
  margin-left: 2px;
  }
}
.mobile-footer{
	display: none;
}
  /*====================================*/
  /*====================================*/
@media screen and (max-width: 600px) {
	.button{
    width: 80%;
  }
  .footer-copyright{
		padding-bottom: 65px;
  }
  .footer-copyright #reserve{
    padding-left: 115px;
    padding-bottom: -10px;
  }
  .footer-top article p{
    display:none;
  }
  .section-footer{
		display: none;
	}
	.mobile-footer{
		display: block;
		margin: auto;
	}
	.social-icon{
		margin-left: 5px;
	}
}
  /*====================================*/
  /*====================================*/
  /*====================================*/
